<footer>

    <nav class="navbar bottom" data-bs-theme="dark">

        <div class="container-fluid">

            <ul class="navbar-nav flex-row align-items-center" id="social-media">
                <li class="nav-item-left">
                    <a class="nav-link" href="https://x.com/GaneshICMC" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="https://www.instagram.com/ganeshicmc/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="https://www.facebook.com/ganeshICMC/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="https://github.com/ganesh-icmc" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="https://www.youtube.com/c/ganeshicmc" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item-right">
                    <p>© {{currentYear}} Ganesh</p>
                </li>
            </ul>

        </div>

    </nav>

</footer>