
footer{
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbar{
    padding-left: var(--default_distance_border);
    padding-right: var(--default_distance_border);
    height: 83px;
    width: 100%;
    max-width: var(--default_max_width);
}

#navbarNav{
    justify-content: right;
    align-items: center;
}

.nav-link{
    color: var(--default_white);
    transition: color 0.3s ease-in-out;
}

p{
    color: var(--default_white);
    align-self: center;
    margin-bottom: 0px;
}

.nav-item-left{
    padding-right: 1.5vw;
}

.nav-item-right{
    padding-left: 2vw;
}

.nav-link:hover{
    color: var(--default_light_gray);
}

#social-media{
    font-size: 20px;
}

@media (max-width: 1000px) {
    .navbar{
        padding-left: max(var(--default_distance_border_mobile), env(safe-area-inset-left));
        padding-right: max(var(--default_distance_border_mobile), env(safe-area-inset-left));
    }
}