
header{
    display: flex;
    justify-content: center;
    background-color: var(--default_gray);
}

.navbar{
    padding-left: var(--default_distance_border);
    padding-right: var(--default_distance_border);
    width: 100%;
    max-width: var(--default_max_width);
    align-self: center;
}

#navbarNav{
    justify-content: right;
    align-items: center;
}

.nav-link{
    color: var(--default_white);
    transition: color 0.3s ease-in-out;
}

.nav-item{
    padding-left: 2vw;
}

img{
    max-height: 35px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#language_dropdown{
    color: var(--default_white);
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
}

#language_dropdown:hover{
    color: var(--default_light_gray);
}

.dropdown-menu{
    text-align: center;
}

.nav-link:hover{
    color: var(--default_light_gray);
}

.flag{
    height: 35px;
}

@media (max-width: 1000px) {
    .navbar{
        padding-left: max(var(--default_distance_border_mobile), env(safe-area-inset-left));
        padding-right: max(var(--default_distance_border_mobile), env(safe-area-inset-left));
    }
    #language_dropdown img {
        display: none;
    }
}