
<app-header></app-header>

<main class="d-flex flex-column justify-content-center align-items-center">

    <section class="my-2">

        <h1 class="text-center">{{'news.title' | transloco}}</h1>

        <div id="table-div" class="mb-auto">
            <table>
                @for (item of news | slice: (page-1) * pageSize : page * pageSize; track item) {
                    <tr>
                        <td>
                            <h2>{{item.titulo}}</h2>
                            <p>{{item.descricao}}</p>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <ngb-pagination 
            class="d-flex justify-content-center"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="news.length" 
        />
       
    </section>

</main>

<app-footer></app-footer>