
main{
    color: var(--default_white);;
}

#title{
    font-size: 3.75rem;
}

#subtitile{
    font-size: 1.25rem;
    max-width: 400px;
    text-align: center;
    word-wrap:normal;
}

#logo{
    width: 18rem;
    padding-bottom: 1vh;
}

#section1{
    min-height: 93dvh;
}

#section2_aux{
    background-color: var(--default_section_background);
    margin-left: var(--default_distance_border);
    margin-right: var(--default_distance_border);
    margin-bottom: 10vh;
    padding: 1rem;
    max-width: calc(var(--default_max_width)*0.8);
}

#ganesh{
    color: var(--default_green);
    font-style: normal;
}

#sobre_title{
    font-weight: bold;
    font-size: 1.5rem;
}

#sobre_body{
    font-size: 0.7rem;
}

#saiba_mais_btn{
    border-color: var(--default_light_gray);
    color: var(--default_white);;
}

#saiba_mais_btn:hover{
    border-color: var(--default_green);
    color: var(--default_green);
}

@media (max-width: 1000px) {
    #section2_aux{
        margin-left: var(--default_distance_border_mobile);
        margin-right: var(--default_distance_border_mobile);
    }
}